<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
    <nav class="navbar ">

        <ul class="nav-list">
            <img src="/css/logo8787.webp" class="logo" width="75px" height="75px" alt="">


            <div class=" always  off-menu" id="fit-the-box">
                <li> <a href="/">Home</a> </li>
                <li id="drop0" onclick="onClick()">Places<i class="fa fa-caret-down"></i>
                    <div id="dropx" class="drop">
                        <ul>
                            <li id="drop1"><a href="#">About</a></li>
                            <li><a href="#one">Boating</a></li>
                            <li><a href="#two">Traffic</a></li>
                            <li><a href="#three">Skyview</a></li>
                            <li><a href="#four">Camping</a></li>
                        </ul>
                    </div>
                </li>
                <li> <a href="/services"> Services</a> </li>
                <li> <a href="/contact">Contact Us</a> </li>
            </div>
            <div class="menu-btn" onclick="flip()" id="cross">
                <div class="burger"></div>
            </div>
        </ul>
        <div class="rightNav">
            <input type="text" name="search" placeholder="Search" id="search">
            <button class="wax btn-sm">Search</button>
        </div>
    </nav>

    <section class="background firstsection">

        <div class="secondhalf">
            <img src="/css/logo8787.webp" class="thumb" width="50%" alt="">
            <h1 class="orfan">NutS & Travelling</h1>
        </div>
        </div>
        <div id="one" class="all"></div>
    </section>

    <div class="headfor">Travel Vlogs</div>

    <div class="slide">
        <div class="BIG">

            <section class="t1 section-travel">
                <p class="Bigtext scam">Boating</p>
                <p class="Smalltext"> Boating is the leisurely activity of travelling by boat, or the recreational use
                    of a boat whether powerboats, sailboats, or man-powered vessels (such as rowing and paddle boats),
                    focused on the travel itself, as well as sports activities, such as fishing or waterskiing.</p>
            </section>

            <!-- <section class="t3 section-travel"></section> -->
            <div id="two" class="all"></div>
        </div>
    </div>

    <div class="slide">
        <div class="headfor"></div>
        <div class="BIG">



            <section class="t2 section-travel">
                <p class="Bigtext scam">Traffic</p>
                <p class="Smalltext"> Continue Travelling With NutS & Transport. Amazing Expriences And JoyFull Travels
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ea dignissimos culpa et dolorem
                    quaerat cupiditate nostrum, mollitia maiores laudantium odit quia similique! Vel nesciunt
                    reprehenderit nisi quos dolorum animi quo corporis impedit deserunt?
                    With NutS & Transport.</p>
            </section>
            <!-- <section class="t3 section-travel"></section> -->
            <div id="three" class="all"></div>

        </div>

    </div>
    <div class="slide">

        <div class="headfor"></div>

        <div class="BIG">



            <section class="t3 section-travel">
                <p class="Bigtext scam">Skyview</p>
                <p class="Smalltext"> Continue Travelling With NutS & Transport. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Nesciunt nam aperiam veritatis magni quis praesentium minima velit consectetur
                    rerum illo! Explicabo obcaecati illo, asperiores ipsa libero expedita odit iste, reiciendis corporis
                    omnis, dolores perferendis similique facere ut quis sequi deserunt. Hic culpa, autem ducimus debitis
                    unde commodi, quaerat veritatis dolore eius incidunt dicta animi voluptas consequuntur. e optio
                    similique voluptas. Molestias enim rem iusto ad.
                    With NutS & Transport.</p>
            </section>
            <!-- <section class="t3 section-travel"></section> -->
            <div id="four" class="all"></div>

        </div>
    </div>


    <div class="headfor"></div>

    <div class="BIG">



        <section class="t4 section-travel">
            <p class="Bigtext scam">Campiing</p>
            <p class="Smalltext"> Continue Travelling With NutS & Transport. Amazing Expriences And JoyFull Travels With
                NutS & Transport.</p>
        </section>
        <!-- <section class="t3 section-travel"></section> -->

    </div>




   {{>footer}}
</body>
{{>javarun}}

</html>