<!DOCTYPE html>
<html lang="en">

{{>header}}
<body>
{{>navbar}}
<h1 class="con">Contact Us</h1>
<hr>
<div class="kop">

    <form >
        <input class="surender" type="text" name="nam" id="fame" placeholder="Enter your name">
        <input class="surender" type="text" name="age" id="fge" placeholder="Enter your age">
        <input class="surender" type="text" name="email" id="email" placeholder="Enter your email">
        <input class="surender" type="password" name="password" id="fword" placeholder="Enter your password">
        <textarea class="surender" name="adderss" id="address" cols="30" rows="10" placeholder="Enter Your Address"></textarea>
        <textarea class="surender"  name="more" id="more" cols="30" rows="10" placeholder="Enter Something More"></textarea>
        <button class="wax-last">Submit</button>
     </form>
</div>

   {{>footer}}
</body>
{{>javarun}}


</html>