<!DOCTYPE html>
<html lang="en">
    {{>header}}
<body>
    {{>navbar}}
 
    <section class="background firstsection">
        <div class="box-main">
            <div class="firsthalf">
                <p class="Bigtext">Future of Travelling</p>
                <p class="Smalltext"> Continue Travelling With NutS & Transport. Amazing Expriences And JoyFull Travels With NutS & Transport.</p>
                <div class="forwax">

                   
                </div>
            </div>
            <div class="secondhalf">
                <img src="/css/logo8787.webp" class="thumb" width="60%"  alt="">
            </div>
        </div>
    </section>

    <div class="for-bg">
   {{>footer}}
</body>
{{>javarun}}
</html>