<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>
      {{>navbar}}

    <div class="of-two">

        <div class="buy-sell thumb">
            <div class="first-box"><img src="/css/river23new.jpg" width="100%"  alt=""></div>
            <h3 class="heading-up">Heading</h3>
            <div class="second-box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni vero recusandae
                expedita dicta obcaecati qui numquam placeat optio ut maiores porro, ab quas est?</div>
                <div class="forwax middle-btn">

                    <button class="wax">Book</button>
                    <button class="wax">Add</button>
                </div>
        </div>
        <div class="buy-sell thumb">

            <div class="first-box"><img src="/css/tower23new.jpg" width="100%"  alt=""></div>
            <h3 class="heading-up">Heading</h3>
            <div class="second-box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni vero recusandae
                expedita dicta obcaecati qui numquam placeat optio ut maiores porro, ab quas est?</div>
                <div class="forwax middle-btn">

                    <button class="wax">Book</button>
                    <button class="wax">Add</button>
                </div>
        </div>
        <div class="buy-sell thumb">
            <div class="first-box"><img src="/css/hotelnew.jpg" width="100%"alt=""></div>
            <h3 class="heading-up">Heading</h3>
            <div class="second-box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni vero recusandae
                expedita dicta obcaecati qui numquam placeat optio ut maiores porro, ab quas est?</div>
                <div class="forwax middle-btn">

                    <button class="wax">Book</button>
                    <button class="wax">Add</button>
                </div>
        </div>

    </div>
    <div class="of-two">

        <div class="buy-sell thumb">
            <div class="first-box1"><img src="/css/nature45.webp" width="100%" alt=""></div>
            <h3 class="heading-up">Heading</h3>
            <div class="second-box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni vero recusandae
                expedita dicta obcaecati qui numquam placeat optio ut maiores porro, ab quas est?</div>
                <div class="forwax middle-btn">

                    <button class="wax">Book</button>
                    <button class="wax">Add</button>
                </div>
        </div>
      

    </div>



   {{>footer}}
</body>
{{>javarun}}

</html>