 <div class="for-bg">

        <footer class="foot">
            <div class="left">
             <a href="/"> <img class="jpg-circle"  src="/css/logo8787.webp" width="40px" height="40px" alt=""></a>  
                <p class="Footer-Pa">NutS & Transport Travel Company ©</p>

            </div>
            <div class="right">
                <a class="Footer-Pa" href="/"><img src="/css/face12.webp" width="40px" height="40px" alt=""></a>
                <a class="Footer-Pa" href="/"><img src="/css/twitter.webp" width="30px" height="30px" alt=""></a>
                <a class="Footer-Pa" href="/"><img src="/css/insta.webp" width="30px" height="30px" alt=""></a>
            </div>
        </footer>

    </div>