<nav class="navbar ">

        <ul class="nav-list">
            <img src="/css/logo8787.webp" class="logo" width="75px" height="75px" alt="">
            <div class=" always  off-menu" id="fit-the-box">

                <li> <a  href="/home">Home</a> </li>
                <li> <a href="/about">Travelling</a> </li>
                <li> <a href="/services">Services</a> </li>
                <li> <a  href="/contact">ContactUs</a> </li>
            </div>

            <div class="menu-btn" onclick="flip()" id="cross">
                <div class="burger"></div>
            </div>
        </ul>
        <div class="rightNav">
            <input type="text" name="search" placeholder="Search" id="search">
            <button class="wax btn-sm">Search</button>
        </div>
    </nav>